<!-- Category -->
<div class="orders mt-5 p-5">
    <div class="row">
        <div class="col-xl-11 mx-auto category-top">
            <div class="card">
                <div class="card-body mb-2">

                    <div class="input-group mb-3">
                        <h4 class="box-title">New Orders</h4>
                    </div>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>index</th>
                                    <th>Customer Name</th>
                                    <th>Product Name</th>
                                    <th>Payment Type</th>
                                    <th>Amount</th>
                                    
                                    <th>Quantity</th>
                                    <th>Order Status</th>
                                    <th>View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td class="create_index">{{ inc @index}} </td>
                                    <td> <span>{{this.user.full_name}}</span> </td>
                                    <td><span>{{this.product.product_name}}</span>
                                    </td>
                                    <td> <span>{{this.paymentMethod}}</span> </td>
                                    <td> <span>{{this.products.price}}</span> </td>
                                    
                                    <td><span>{{this.products.quantity}}</span></td>
                                    {{#if products.ship}}
                                    <td> <span class="text-success">{{this.products.productStatus}}</span> </td>
                                    {{else if products.cancel}}
                                   <td> <span class="text-danger">{{this.products.productStatus}}</span> </td>
                                    {{else if products.completed}}
                                    <td> <span class="text-primary">{{this.products.productStatus}}</span> </td>
                                    {{else}}
                                    <td> <span class="text-success">{{this.status}}</span> </td>
                                    {{/if}}

                                    <td><button onclick="singleView('{{this._id}}','{{this.product._id}}','{{this.address}}')" type="button" class="btn btn-primary">View</button>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div> <!-- /.col-lg-8 -->
    </div>
</div>
<!-- /.Category -->



<script type="text/javascript">
    function singleView(orderId,productId,addressId) {
        $.ajax({
            url: '/seller/single_order/',
            method: 'post',
            data: {
                order:orderId,
                product:productId,
                address:addressId
            },
            success: (response) => {
                console.log(response)
                if(response.status){
                   location.href = '/seller/singelOrderView'
                }
                
            }
        })
    }
</script>