<link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
<div class="order_viewproducts">
    <div class="mt-5 mb-5 p-5">
        <div class="order-container">
            {{#each data}}
            <div class="row no-gutters">

                <div class="col-md-5 pr-2">
                    <div class="card">
                        <div class="demo">
                            <ul id="lightSlider">
                                {{#each this.product.Images.[0].productImg}}
                                <li data-thumb="/Images/productImages/{{this}}"> <img src="/Images/productImages/{{this}}" />
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{!-- <div class="card mt-2">
                        <h6>Reviews</h6>
                        <div class="d-flex flex-row">
                            <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                    class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div> <span class="ml-1 font-weight-bold">4.6</span>
                        </div>
                        <hr>
                        <div class="badges"> <span class="badge bg-dark ">All (230)</span> <span class="badge bg-dark ">
                                <i class="fa fa-image"></i> 23 </span> <span class="badge bg-dark "> <i
                                    class="fa fa-comments-o"></i> 23 </span> <span class="badge bg-warning"> <i
                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                    class="fa fa-star"></i> <span class="ml-1">2,123</span> </span> </div>
                        <hr>
                        <div class="comment-section">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <img
                                        src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle profile-image">
                                    <div class="d-flex flex-column ml-1 comment-profile">
                                        <div class="comment-ratings"> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div> <span class="username">Lori Benneth</span>
                                    </div>
                                </div>
                                <div class="date"> <span class="text-muted">2 May</span> </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <img
                                        src="https://i.imgur.com/tmdHXOY.jpg" class="rounded-circle profile-image">
                                    <div class="d-flex flex-column ml-1 comment-profile">
                                        <div class="comment-ratings"> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div> <span class="username">Timona Simaung</span>
                                    </div>
                                </div>
                                <div class="date"> <span class="text-muted">12 May</span> </div>
                            </div>
                        </div>
                    </div> --}}
                </div>
                <div class="col-md-7" id="products-details">
                    <div class="card">
                        <div class="about mt -3"> <span class="font-weight-bold">{{this.product.product_name}}</span>
                            <h4 class="font-weight-bold mt-2">Price :{{this.order.products.price}}</h4>
                        </div>
                        <div class="qty mt-2"> <span class="font-weight-bold ">Quantity
                                :{{this.order.products.quantity}}</span>
                            <h4 class="font-weight-bold mt-2">Description :{{this.product.desciptions}}</h4>
                        </div>
                        {{!-- <div class="buttons"> <button class="btn btn-outline-warning btn-long cart">Add to
                                Cart</button>
                            <button class="btn btn-warning btn-long buy">Buy it Now</button> <button
                                class="btn btn-light wishlist">
                                <i class="fa fa-heart"></i> </button>
                        </div> --}}
                        <hr>
                        <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/N2fYgvD.png"
                                class="rounded-circle store-image">
                            <div class="d-flex flex-column ml-1 comment-profile">
                                <span class="username"> Customer Name :{{this.full_name}}</span>
                            </div>
                        </div>

                        <div class="mt-2"> <span class="font-weight-bold">Deliver Address:</span>
                            <p><span
                                    class="font-weight-bold text-primary">Name:<span>{{this.deliveryDetails.first_name}}.{{this.deliveryDetails.last_name}}</span></span><br>
                                <span class="text-primary">Phone Number: <span>{{this.deliveryDetails.phone_number}}</span></span><br>
                                <span class="text-primary">Email :<span>{{this.deliveryDetails.email}}</span></span><br>
                                <span class="text-primary">Address:<span>{{this.deliveryDetails.address1}}{{this.deliveryDetails.address2}}</span></span><br>
                                <span class="text-primary">City: <span
                                        class="text-primary">{{this.deliveryDetails.city}}</span></span><br>
                                <span class="text-primary">District :<span
                                        class="text-primary">{{this.deliveryDetails.district}}</span></span><br>
                                <span class="text-primary">Message : <span
                                        class="text-primary">{{this.deliveryDetails.message}}</span></span><br>
                            </p>
                            {{!-- <div class="bullets">
                                <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                        class="bullet-text">Best in Quality</span> </div>
                                <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                        class="bullet-text">Anti-creak joinery</span> </div>
                                <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                        class="bullet-text">Sturdy laminate surfaces</span> </div>
                                <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                        class="bullet-text">Relocation friendly design</span> </div>
                                <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                        class="bullet-text">High gloss, high style</span> </div>
                                <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                        class="bullet-text">Easy-access hydraulic storage</span> </div>
                            </div> --}}
                            <div class="product-description">
                                {{#if this.placed}}
                                <span class="font-weight-bold">Order Status:<span
                                        class="ml-1 text-success">{{this.order.status}}</span></span>
                                {{/if}}
                            </div>
                            <div class="product-description">
                                <span class="font-weight-bold">Payment Method:<span
                                        class="ml-1 text-success">{{this.order.paymentMethod}}</span></span>
                            </div>
                            <div class="product-description">
                                <span class="font-weight-bold">Placed on:<span
                                        class="ml-1 text-success">{{this.order.updatedAt}}</span></span>
                            </div>
                            <div class="product-description">

                                {{#if order.products.ship}}
                                <span class="font-weight-bold">Order Status:<span
                                        class="ml-1 text-success">{{this.order.products.productStatus}}</span></span>
                                {{else if order.products.cancel}}
                                <span class="font-weight-bold">Order Status:<span
                                        class="ml-1 text-danger">{{this.order.products.productStatus}}</span></span>
                                {{else if order.products.placed}}
                                <span class="font-weight-bold">Order Status:<span
                                        class="ml-1 text-success">{{this.order.status}}</span></span>
                                {{/if}}
                                {{#if order.products.completed}}
                                <span class="font-weight-bold">Order Status:<span class="ml-1 text-primary">{{this.order.products.productStatus}}</span></span>
                                {{/if}}
                            </div>
                            <div class="btn_ship mt-3" style="width: auto; display: inline-block; float: right;">
                                {{#if order.products.ship}}
                                <button onclick="deliveredOrder('{{this.order._id}}','{{this.product._id}}')"
                                    class="btn  btn-outline-primary mr-3" style="padding: 6px 30px;">Delivered</button>
                                {{/if}}
                                {{#if order.products.cancel}}
                                <div class="text-danger fs-1">
                                    <span>{{this.products.productStatus}}</span>
                                </div>
                                {{/if}}
                                {{#if order.products.placed}}
                                <button onclick="cancelOrder('{{this.order._id}}','{{this.product._id}}')"
                                    class="btn  btn-outline-danger mr-3" style="padding: 6px 30px;">Cancel</button>
                                <button onclick="shipOrder('{{this.order._id}}','{{this.product._id}}')"
                                    class="btn btn-outline-success" style="padding: 6px 30px;">Shipping</button>
                                {{/if}}
                                {{#if order.products.completed}}
                                <div class="text-primary">
                                    <span>{{this.products.productStatus}}</span>
                                </div>
                                {{/if}}
                            </div>
                        </div>

                    </div>
                </div>
                {{!-- <div class="card mt-2"> <span>Similar items:</span>
                    <div class="similar-products mt-2 d-flex flex-row">
                        <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img
                                src="https://i.imgur.com/KZpuufK.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">$1,999</h6>
                            </div>
                        </div>
                        <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img
                                src="https://i.imgur.com/GwiUmQA.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">$1,699</h6>
                            </div>
                        </div>
                        <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img
                                src="https://i.imgur.com/c9uUysL.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">$2,999</h6>
                            </div>
                        </div>
                        <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img
                                src="https://i.imgur.com/kYWqL7k.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">$3,999</h6>
                            </div>
                        </div>
                        <div class="card border p-1" style="width: 9rem;"> <img src="https://i.imgur.com/DhKkTrG.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">$999</h6>
                            </div>
                        </div>
                    </div>
                </div> --}}
            </div>

        </div>
        {{/each}}
    </div>
</div>

</div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script> $('#lightSlider').lightSlider({ gallery: true, item: 1, loop: true, slideMargin: 0, thumbItem: 9 });
</script>

<script type="text/javascript">
    function shipOrder(orderId, productId) {
        $.ajax({
            url: '/shipProduct',
            method: 'post',
            data: {
                oreder: orderId,
                product: productId,
            },
            success: (response) => {
                console.log(response)
                if(response.status){
                   location.href ='/seller/new-orders'
                }
                
            }
        })
    }


    //Order cancel
    function cancelOrder(cancelid, productId) {
        console.log('hai')
        $.ajax({
            url: '/cancelOrder',
            method: 'post',
            data: {
                order: cancelid,
                product: productId,
            },
            success: (response) => {
                console.log(response)
                if(response.status){
                    location.href='/seller/new-orders'
                }
            }
        })
    }

    //Delivered Order
    function deliveredOrder(deliveredId,productId){
        $.ajax({
            url:'/deliverdOrder',
            method:'post',
            data:{
                order:deliveredId,
                product:productId
            },
            success:(response)=>{
                if(response.status){
                    location.href='/seller/new-orders'
                }
            }
        })
    }
</script>